
body {
    margin:0;
    font-family: 'Poppins', sans-serif;
  }
  

  .topnav {
    background-color:white;
    flex-direction: row;
    /*display: flex;*/
    width: 100%;
    height: 24px;
    left: 282px;
    top: 5px;
    /*align-items: flex-start;*/
    text-align: center; 
    margin-top: 2.5%;
  }
  
  .topnav a {
    float: none;
    color: #333333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: lowercase;
    display: inline;
   
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:#F5C5FD;
    color: #333333;
  }
 #homeTitle {
     padding-left:16px;
 }
 
 .purple-background { 
    
    margin-bottom:50px;
    margin-top:50px;
    background: rgba(245,197,252,1);
    width: 100%;
    height: 532px;
    position: absolute;
    height: 532px;
    left: 0px;
    top: 340px;
  }
  #homepage-title {
        color: #976c9e;
        font-family: Poppins;
        font-weight: Medium;
        font-size: 67px;
        opacity: 1;
        position: absolute;
        width: 277px;
        height: 100.73px;
        left: 350px;
        top: 200px;
      
  }
  #homepage-title2 {
    color: #343434;
    font-weight: Light;
    font-size: 50px;
    opacity: 1;
    position: absolute;
    width: 268.61px;
    height: 75.55px;
    left: 350px;
    top: 270px;
  }
  #viewMenu {
    position: absolute;
    width: 162px;
    height: 61px;
    left: 350px;
    top: 550px;
    background: #966B9D;
    border-radius: 48px;
    border: 0px; 
    font-style: normal;
font-weight: bold;
font-size: 14px;
color: white;
letter-spacing: 0.04em;

    
    
}

.main-content {
    position: absolute;
width: 241px;
height: 92px;
left: 350px;
top: 390px;
}

.white-circle {
    
        background: #ffffff;
        position:absolute;
        width: 533px;
        height: 489px;
        left: 700px;
        top: -90px;
        opacity: 1;
        border-radius: 50%;
        border: 12px dotted;
        border-color:#F5C5FD; 
        
        ;
      
}
#home-bun {
    position: absolute;
    width: 533px;
    height: 489px;
    left: -60px;
    top: -240px;
}

#menu-title {
  
    color: #976c9e;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 67px;
    opacity: 1;
    text-align: center;
    line-height: 6;
    /*position: fixed;
    width: 188px;
    left: 870px;
height: 300px;
top: 250px;*/
  
}

#returntomenu {
  position: absolute;
  width: 82px;
  height: 21px;
  left: 113px;
  top: 200px;

}
 /* <-----------------------Walnut Bun Bun CSS -----------------------------------------> */
.walnut-backdrop {

    
  position: absolute;
  width: 400px;
  height: 430px;
  left: 204px;
  top: 50px;
  background-color: white;
    
  }

.white-dotted-line-walnut {
  background: #F5C5FD;
  position: absolute;
width: 400px;
height: 430px;
left: 159px;
top: 20px;

border: 4px dashed white;
box-sizing: border-box;

}

.walnut-bun {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 60px;
}
#walnut-price {
  position: absolute;
width: 48px;
height: 51px;
left: 350px;
top: 0px;
color: white;
}
#walnut-price-background {
    width: 48px;
    height: 48px;
    background: rgba(150,107,157,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 338px;
    border-radius: 50%;
  
}
#viewItem-walnut {
  position: absolute;
  width: 162px;
  height: 61px;
  left: 350px;
  top: 780px;
  background: #966B9D;
  border-radius: 48px;
  border: 0px; 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.04em;
}
.walnut-text {
  position: absolute;
  width: 144px;
  height: 54px;
  left: 155px;
  top: -31px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
}

/* <-------------------- Blackberry cinammon bun CSS ----------------------> */

.blackberry-backdrop {

    
  position: absolute;
  width: 400px;
  height: 430px;
  left: 780px;
  top: 50px;
  background-color: white;
    
  }

.white-dotted-line-blackberry {
  background: #F5C5FD;
  position: absolute;
width: 400px;
height: 430px;
left: 830px;
top: 20px;

border: 4px dashed white;
box-sizing: border-box;

}

.blackberry-bun {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 100px;
  top: 100px;
}
#blackberry-price {
  position: absolute;
width: 48px;
height: 51px;
left: 350px;
top: 0px;
color: white;
}
#blackberry-price-background {
    width: 48px;
    height: 48px;
    background: rgba(150,107,157,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 338px;
    border-radius: 50%;
  
}
#viewItem-blackberry {
  position: absolute;
  width: 162px;
  height: 61px;
  left: 900px;
  top: 780px;
  background: #966B9D;
  border-radius: 48px;
  border: 0px; 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.04em;
}
.blackberry-text {
  position: absolute;
  width: 144px;
  height: 54px;
  left: 90px;
  top: -31px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
}


/* <--------------Original Bun Bun CSS ------> */
.original-backdrop {

    
  position: absolute;
  width: 400px;
  height: 430px;
  left: 1350px;
  top: 50px;
  background-color: white;
    
  }

.white-dotted-line-original {
  background: #F5C5FD;
  position: absolute;
width: 400px;
height: 430px;
left: 1400px;
top: 20px;

border: 4px dashed white;
box-sizing: border-box;

}

.original-bun {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 90px;
  top: 100px;
}
#original-price {
  position: absolute;
width: 48px;
height: 51px;
left: 350px;
top: 0px;
color: white;
}
#original-price-background {
    width: 48px;
    height: 48px;
    background: rgba(150,107,157,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 338px;
    border-radius: 50%;
  
}
#viewItem-original {
  position: absolute;
  width: 162px;
  height: 61px;
  left: 1480px;
  top: 780px;
  background: #966B9D;
  border-radius: 48px;
  border: 0px; 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.04em;
}
.original-text {
  position: absolute;
  width: 144px;
  height: 54px;
  left: 90px;
  top: -31px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
}


/* <-------------------- Menu 1 Right Arrow CSS ----------------------> */
.arrow-right-menu {
  position: absolute;
width: 40px;
height: 36px;
left: 1250px;
top: 650px;

}

/* <------------------------------MENU 2 -------------------------------------------------->*/


/* <-----------------------Original GF Bun Bun CSS-----------------------------------------> */
.originalGF-backdrop {

    
  position: absolute;
  width: 400px;
  height: 430px;
  left: 204px;
  top: 50px;
  background-color: white;
    
  }

.white-dotted-line-originalGF {
  background: #F5C5FD;
  position: absolute;
width: 400px;
height: 430px;
left: 159px;
top: 20px;

border: 4px dashed white;
box-sizing: border-box;

}

.originalGF-bun {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
}
#originalGF-price {
  position: absolute;
width: 48px;
height: 51px;
left: 350px;
top: 0px;
color: white;
}
#originalGF-price-background {
    width: 48px;
    height: 48px;
    background: rgba(150,107,157,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 338px;
    border-radius: 50%;
  
}
#viewItem-originalGF {
  position: absolute;
  width: 162px;
  height: 61px;
  left: 350px;
  top: 780px;
  background: #966B9D;
  border-radius: 48px;
  border: 0px; 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.04em;
}
.originalGF-text {
  position: absolute;
  width: 144px;
  height: 54px;
  left: 80px;
  top: -31px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
}

/* <-------------------- Pumpkin cinammon bun CSS ----------------------> */

.pumpkin-backdrop {

    
  position: absolute;
  width: 400px;
  height: 430px;
  left: 780px;
  top: 50px;
  background-color: white;
    
  }

.white-dotted-line-pumpkin {
  background: #F5C5FD;
  position: absolute;
width: 400px;
height: 430px;
left: 830px;
top: 20px;

border: 4px dashed white;
box-sizing: border-box;

}

.pumpkin-bun {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 100px;
  top: 100px;
}
#pumpkin-price {
  position: absolute;
width: 48px;
height: 51px;
left: 350px;
top: 0px;
color: white;
}
#pumpkin-price-background {
    width: 48px;
    height: 48px;
    background: rgba(150,107,157,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 338px;
    border-radius: 50%;
  
}
#viewItem-pumpkin {
  position: absolute;
  width: 162px;
  height: 61px;
  left: 900px;
  top: 780px;
  background: #966B9D;
  border-radius: 48px;
  border: 0px; 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.04em;
}
.pumpkin-text {
  position: absolute;
  width: 144px;
  height: 54px;
  left: 100px;
  top: -30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

/* <--------------Caramel Pecan Bun Bun CSS ------> */
.caramelPecan-backdrop {

    
  position: absolute;
  width: 400px;
  height: 430px;
  left: 1350px;
  top: 50px;
  background-color: white;
    
  }

.white-dotted-line-caramelPecan {
  background: #F5C5FD;
  position: absolute;
width: 400px;
height: 430px;
left: 1400px;
top: 20px;

border: 4px dashed white;
box-sizing: border-box;

}

.caramelPecan-bun {
  position: absolute;
  width: 80px;
  height: 100px;
  left: 90px;
  top: 100px;
}
#caramelPecan-price {
  position: absolute;
width: 48px;
height: 51px;
left: 350px;
top: 0px;
color: white;
}
#caramelPecan-price-background {
    width: 48px;
    height: 48px;
    background: rgba(150,107,157,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 338px;
    border-radius: 50%;
  
}
#viewItem-caramelPecan {
  position: absolute;
  width: 162px;
  height: 61px;
  left: 1480px;
  top: 780px;
  background: #966B9D;
  border-radius: 48px;
  border: 0px; 
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  letter-spacing: 0.04em;
}
.caramelPecan-text {
  position: absolute;
  width: 144px;
  height: 54px;
  left: 100px;
  top: -30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

/* <-------------------- Menu 2 Right Arrow CSS ----------------------> */
.arrow-right-menu2 {
  position: absolute;
  width: 40px;
  height: 36px;
  left: 670px;
  top: 650px;

}

/*<-------------------------Walnut Product Page ------------------->*/
.description {
  color: #976c9e;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  position: absolute;
  width: 211px;
  height: 54px;
  left: 99px;
  top: 506px;
}

#walnut-title {
position: absolute;
width: 243px;
height: 101px;
left: 100px;
top: 320px;
color: #966B9D;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 67.1515px;
line-height: 101px;
}

#walnut-description {
  position: absolute;
width: 295px;
height: 96px;
left: 100px;
top: 600px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
}

.white-rectangle {
    background: white;
    width: 100%;
    height: 515px;

    position: absolute;
width: 1344px;
height: 515px;
left: 47px;
top: 491px;

border: 5px dashed #F5C5FD;
box-sizing: border-box;
  
}

#walnut-pic {
position: absolute;
width: 382px;
height: 369px;
left: 426px;
top: 573px;
}

.addToCart {
  
    
position: absolute;
width: 160px;
height: 50px;
left: 100px;
top: 940px;
background: #966B9D;
border: 0px; 
font-style: normal;
font-weight: bold;
font-size: 14px;
color: white;
letter-spacing: 0.04em;
}

/*<-------------------- Our Story Page --------------->*/
 #ourstory-content {
  position: absolute;
  width: 592px;
  height: 349px;
  left: 470px;
  top: 85px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
 }

 #ourstoryBox { 

  position: absolute;
width: 630px;
height: 385px;
left: 430px;
top: 50px;
border: 4px dashed #966B9D;
box-sizing: border-box;
 }